.btn {
    margin: .3vh .5vw;
}

#giphy-search {
    width: 25%;
}

.formSearch {
float: right;
padding-bottom: 10px;
}

.formGroup {
    max-width: 100%;
}

.p {
    padding-top: 5%;
}

.subGiphy {
max-width: 100% !important;
float: left !important;
padding: 10px !important;
display: inline-block !important;
}

.Giphy {
    padding-top:10%
}
.giphyresults {
    padding-top: 10px;
}
